<ion-header hidden>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-fab bottom right> 
  <button ion-fab color="danger" (click)="sendVoice()">
    <ion-icon name="mic"></ion-icon>
  </button>
</ion-fab>

 <ion-list no-lines class="chat-list"> 
   <ion-item *ngFor="let message of messages" class="chat-item" text-wrap>
     <ion-avatar item-left *ngIf="message.sender == 'robot'">
       <img src = "assets/robot.png"> 
     </ion-avatar>

     <ion-avatar item-right *ngIf="message.sender == 'me'">
        <img src = "assets/me.png"> 
      </ion-avatar>

      <div *ngIf="message.sender == 'robot'" class="bubble me">
       <h3> {{ message.text }}</h3>
      </div>

      <div *ngIf="message.sender == 'me'" class="bubble you">
          <h3> {{ message.text }}</h3>
         </div>
         </ion-item>
   </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input #input type="text" placeholder="your message here..." [(ngModel)]="text"></ion-input>
      <button ion-button icon-only item-right clear (click)="sendText(); input.setFocus()">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>